@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
  font-family: 'Roboto Slab', serif;
}

.beerImg{
  width: 7vh;
  height: 25vh;
}
.yellowLine{
  background-color: #ffca41;
  text-align: left;
  line-height: 40px;
}
.frontImage{
  width: 100%;
}
.middleDiv{
  margin: 0px 20px;
}
a{
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  font-size: 2em;
  font-weight: 700;
}
.overview{
  margin: 50px 50px 20px 30px;
  display: flex;
  padding-bottom:40px;
  border-bottom: 1px solid black;
}
.flex{
  margin-left: 20px;
  
}
.yellowp{
  color: #ffca41;
  font-weight: 900;
}
.yellowp2{
  text-align: left;
  color: #ffca41;
  font-weight: 900;
}
.btn{
  background-color: #ffca41;
  border-radius: 15px;
  border: none;
  font-weight: 900;
  padding: 2px 20px;
  color: #fff;
}
.detailwrapper{
  margin: 20px 30px;
  text-align: center;
}
.detailImg{
  width: 10vh;
}
h1{
  text-align: left;
}
.grayP{
  text-align: left;
  color: #333;
  line-height: 5px;
}
.grayP span{
  margin-left: 150px;
}
.disc{
  text-align: left;
  width: 35vh;
}
.backBtn{
  color: #fff;
  background-color: #ffca41;
  border: none;
  border-radius: 40px;
  font-size: 1em;
} 
.footer{
  text-align: center;
  list-style: none;
  background-color: #ffca41;
  position: sticky;
  bottom: 0;
  margin-top: 10%;
}
.logo{
  padding: 5px;
}
.logo:hover{
  transition: all .7s linear;
  transform: rotate(360deg);
}